/* || COLORS */

:root {
  --clr-dark: #1a202c;
  --clr-mid: #a0aec0;
  --clr-light: #f7fafc;
  --clr-accent: #60a5fa;
  --clr-accent-dark: #3b82f6;
  --clr-invalid: #fecaca;
  --clr-invalid-border: #f56565;
  --clr-valid: #c6f6d5;
  --clr-valid-border: #68d391;
}

/* || GENERAL */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--clr-mid);
  background-color: var(--clr-dark);
}

header {
  padding: 80px 0;
  text-align: center;
}

main {
  display: grid;
  place-content: center;
}

/* || FORM */

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  max-width: 560px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--clr-accent);
  border-radius: 4px;
  color: var(--clr-dark);
  font-size: 16px;
  margin-top: 4px;
  transition: 0.6s;
  background-color: var(--clr-light);
}

input:focus {
  outline: none;
}

input.touched:invalid {
  background-color: var(--clr-invalid);
  border: 1px solid var(--clr-invalid-border);
}

input:valid {
  background-color: var(--clr-valid);
  border: 1px solid var(--clr-valid-border);
}

.error,
.submit-error-msg {
  color: var(--clr-invalid-border);
  font-size: 14px;
  margin-top: 4px;
  display: block;
}

.submit-container {
  grid-column: 1 / 3;
}

.submit-btn {
  padding: 8px 16px;
  border: none;
  background-color: var(--clr-accent);
  color: var(--clr-dark);
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: var(--clr-accent-dark);
}
